@charset "UTF-8";
table {
	    margin-left:auto; 
	    margin-right:auto;
	}
.left{
	text-align: left;
}
.center{
	text-align: center;
}
.right{
	text-align: right;
}
.indexHeader {
	text-align: center;
}
.section {
	text-align: center;
	margin-top: 10px;
}
.navHome {
	padding-right: 85%;
	margin-top: 20px;
	font-family: 'IBMPlexSansKR-Bold';
}
.section2 {
	margin-top: 15px;
}
.footer {
	margin-top: 50px;
	text-align: center;
}

.sumarryHeader {
	text-align: right;
}
.prgsTable {
	text-align: center;
    margin-top: 10px;
}
.emptyTable {
	width: 80%;
}

.resultContainer{
    min-width: 992px;
}
.summaryBlNum {
	color: white;
	background-color: gray;
}
td .indexCheckBox {
    width: 100%;
}